{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Edit Entry</h1>
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.date.label(class="form-label") }}<br>
        {{ form.date(class="form-control", size=32) }}
    </div>
    
    <div class="form-group">
        {{ form.description.label(class="form-label") }}<br>
        {{ form.description(class="form-control", size=64) }}
    </div>

    <div class="form-group">
        {{ form.hours.label(class="form-label") }}<br>
        {{ form.hours(class="form-control", size=32) }}
    </div>

    <div class="form-group">
        {{ form.time_start.label(class="form-label") }}<br>
        {{ form.time_start(class="form-control", size=32) }}
    </div>

    <div class="form-group">
        {{ form.time_end.label(class="form-label") }}<br>
        {{ form.time_end(class="form-control", size=32) }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
</form>
</div>
    
{% endblock %}